@font-face {
	font-family: "Roboto";
	font-style: normal;
	src: url("./assets/fonts/Roboto.ttf") format("truetype");
}
@font-face {
	font-family: "PlayfairDisplay";
	font-style: normal;
	src: url("./assets/fonts/PlayfairDisplay.ttf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	font-family: "Roboto";
}

h1 {
	font-family: "PlayfairDisplay";
}

header {
	position: relative;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #4f3ff9, #f9506c);
	transform: translateY(-30%) skewY(-7deg);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}

.img-wrapper {
	width: min(100% - 1.25rem, 30rem);
	position: relative;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.img-wrapper img {
	width: 100%;
	display: block;
	filter: brightness(1.1) contrast(1.1);
}

.img-wrapper .name {
	width: 100%;
	position: absolute;
	bottom: 1.5rem;

	text-align: center;
	font-family: "PlayfairDisplay";
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: 4rem;
	font-weight: bold;
	z-index: 1;
}

.about-me {
	box-sizing: border-box;
	width: min(100vw - 3rem, 40rem);
	background-color: white;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	padding: 2rem;
}

.about-me h1 {
	margin: 0;
	font-size: 3rem;
}

.about-me p {
	font-size: 1.5rem;
}

header .socialsIcons {
	display: flex;
	justify-content: end;
	gap: 1.5rem;
}

header .socialsIcons img {
	width: 3rem;
}

main {
	display: flex;
	justify-content: center;
	margin: 4rem 3rem;
}

main h1 {
	font-size: 4rem;
}

.projects {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: 5rem 3rem;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: start;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.project > img {
	max-width: 100%;
}

.project img:hover,
.socialsIcons img:hover {
	transform: scale(1.1);
}

.project img,
.socialsIcons img {
	transition: transform 0.3s ease;
}

.project-description {
	width: 100%;
	box-sizing: border-box;
	padding: 2rem 1rem;
}

.project-description p {
	color: #4e4e4e;
}

.project-header {
	display: flex;
	align-items: center;
}

.project h2 {
	font-family: "PlayfairDisplay";
}

.project-links {
	margin-left: auto;
	display: flex;
	gap: 1rem;
}

.project-links img {
	width: 2rem;
}

footer {
	background: linear-gradient(90deg, #4f3ff9, #f9506c);
	color: white;
}

footer .wrapper {
	display: flex;
	justify-content: center;
	gap: 6rem;
}

footer .wrapper > img {
	display: block;
	width: min(100vw - 3rem, 30rem);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.contact-info h1 {
	font-family: "PlayfairDisplay";
	font-size: 3rem;
	margin-top: 0;
}

.contact-info p {
	margin: 1rem 0rem;
	font-size: 1.3rem;
}

.contact-info div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.contact-info div img {
	width: 2rem;
	filter: invert(1);
}

.contact-info .socialsIcons img {
	width: 3rem;
}

.contact-info .socialsIcons {
	display: flex;
	gap: 1.5rem;
	filter: invert(1);
	margin: 1rem 0rem;
}

@media (max-width: 1100px) {
	.about-me {
		margin: auto;
	}

	.img-wrapper .name {
		font-size: 3rem;
	}

	footer .wrapper {
		flex-direction: column;
		gap: 2rem;
	}

	.contact-info {
		text-align: center;
	}

	.contact-info div {
		justify-content: center;
	}
}

@media (min-width: 801px) and (max-width: 1100px) {
	header .wrapper {
		display: block;
	}

	.img-wrapper {
		width: 23rem;
		height: 23rem;
		float: left;
		margin-right: 1rem;
	}

	.about-me {
		margin-top: 3rem;
	}
}

@media (max-width: 800px) {
	header .wrapper {
		flex-direction: column;
		gap: 1rem;
	}

	.img-wrapper {
		width: min(100vw - 3rem, 23rem);
	}

	.about-me {
		margin: 0;
	}
}
